body {
    background-color: #8f8c7d;
    font-family: 'Times New Roman';
    margin: 20px;
}

/* Establecer el color de fondo de los inputs */
.form-control {
    background-color: #313446;
    color: #8f8c7d; /* Color del texto dentro de los inputs */
}

.form-control::placeholder {
    color: #8f8c7d; /* Color del texto del placeholder */
}

/* Espaciar el contenedor de los inputs */
.mb-3 {
    margin-bottom: 20px; /* Puedes ajustar este valor según tu preferencia */
}

/* Estilos para el botón de suma */
#btnSumar {
    background-color: rgba(179, 179, 23, 0.911); /* Fondo amarillo */
    color: #8f8c7d; 
}

/* Estilos para el botón de resta */
#btnRestar {
    background-color: #9b353b; /* Fondo rojo */
    color: #8f8c7d;
}

/* Estilos para el botón de división */
#btnDividir {
    background-color: rgba(0, 128, 0, 0.733); /* Fondo verde */
    color: #8f8c7d; 
}

/* Estilos para el botón de multiplicación */
#btnMultiplicar {
    background-color: rgba(160, 105, 2, 0.795); /* Fondo naranja */
    color: #8f8c7d; 
}

/* Estilos para el botón de igualdad */
#btnIgualdad {
    background-color: #8563bf; /* Fondo morado */
    color: #8f8c7d; /* Texto gris */
}

/* Estilos para el botón de mayor que */
#btnMayor {
    background-color: #476e67d2; /* Fondo verde oscuro */
    color: #8f8c7d; /* Texto gris */
}

#btnMayor::after {
    content: "Mayor que >"; /* Agrega el símbolo ">" como contenido después del botón */
}


/* Estilos para el botón de menor que */
#btnMenor {
    background-color: #bf5c5b; /* Fondo rojo claro */
    color: #8f8c7d; /* Texto gris */
}

/* Estilos para el botón Limpiar */
#btnLimpiar {
    background-color: #685043; /* Fondo marrón */
    color: #8f8c7d; /* Texto gris */
    width: 100%; /* Para que ocupe todo el ancho de la columna */
}

/* Efectos visuales al pasar el mouse sobre los botones */
.btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el mouse */
    transform: scale(1.1); /* Escala el botón al pasar el mouse */
}
